/* Root variables for theme colors */
:root {
    --primary-color: #2c3e50;
    --accent-color: #8e44ad;
    --bg-color: #f5f6fa;
    --text-color: #2c3e50;
    --mystical-gradient: linear-gradient(135deg, #5e70c3 0%, #8a50c4 100%);
}


* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}


body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5e3f7;
    color: #4a154b;
    margin: 0;
    padding: 0;
}


header {
    text-align: center;
    padding: 3vh;
    background-color: #e8b8f1;
}


h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 3rem;
    color: #502d6e;
}


nav {
    margin-top: 0.5vh;
}

div button {
    background-color: #7a3f91;
    color: #fff;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}


div button:hover,.active:hover{
    background-color: #9d60b5;
    scale: 1.05;
    box-shadow: 0 5px 10px #7a3f91;
}



.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2vh;
   
}


.card {
    background-color: #fff;
    padding: 2vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 40%;
    min-width: 400px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    margin: 2vh;
}

.card-star-map{
    background-color: #fff;
    padding: 2vh;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 40%;
    min-width: 400px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    margin: 2vh;
}

.card img {
    width: 80%;
    border-radius: 10px;
    margin: 2vh;
}


.card:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 10px #7a3f91;
}

.card-star-map:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 10px #7a3f91;
}

.card p{
    text-align: justify;
    margin: 1rem;
}

.card-star-map {
    width: 100%;
    max-width: 82%;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.card-star-map img {
    width: 100%;
    max-width: 50%;
    border-radius: 10px;
    margin-top: 20px;
}

.card-star-map p{
    text-align: center;
    margin: 1rem;
}


.icons-section h2{
    text-align: center;
    width: 100%;
    margin-bottom: 2vh;
}

.icons-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 50px;
    background-color: #f0d0f5;
}

.icons-section div {
    width: 200px;
    text-align: center;
}

i {
    font-size: 50px;
    color: purple; 
    margin-right: 1vh;
    margin-bottom: 2vh;
}


.contact-section {
    text-align: center;
    padding: 3vh;
    background-color: #e8b8f1;
    color: white;
}

.contact-section a img {
    width: 40px;
    margin: 10px;
}


footer {
    background-color: #502d6e;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer-section img {
    width: 120px;
    margin-top: 15px;
}

.value {
    position: absolute;
    color: black;
    font-weight: bold;
    transform: translate(-50%, -100%);
}

#matrixContainer {
    position: relative;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

#matrixContainer:hover {
    transform: scale(1.02);
    box-shadow: 0 5px 10px #7a3f91;
}

#imageMatrix {
    border-radius: 20px;
}

.card-star-map button {
    background-color:  #7a3f91;
    color: #fff;
    width: 9rem;
    border: none;
    padding: 12px 30px;
    border-radius: 25px;
    margin: 10px;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}


.card-star-map button:hover,.active:hover{
    background-color: #9d60b5;
    scale: 1.05;
    box-shadow: 0 5px 10px #7a3f91;
}